<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/opt/m2_repo</localRepository>
  <pluginGroups>
  </pluginGroups>

  <proxies>
  <servers>
	<server>
		<id>docker-registry</id>
		<username>terry</username>
		<password>111111</password>
		<configuration>
		  <email>libin2722@sohu.com</email>
		  <serveraddress>hub.paladonsystems.com.cn</serveraddress>
		</configuration>
	 </server>
  </servers>
  <mirrors>
    <mirror>
      <id>alimaven</id>
      <name>aliyun maven</name>
      <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
      <mirrorOf>central</mirrorOf>        
    </mirror>
	
    <mirror>
      <id>spring</id>
      <name>spring maven</name>
      <url>https://repo.spring.io/libs-snapshot-local/</url>
      <mirrorOf>central</mirrorOf>        
    </mirror>
  </mirrors>

  <profiles>
  </profiles>
</settings>
